<div class="sticky-top">
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white lighten-2" [containerInside]="false">

    <mdb-navbar-brand><a class="navbar-brand primary" href="#">Omowunmi Ekun</a></mdb-navbar-brand>

    <links>

      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link waves-light primary" mdbWavesEffect><mdb-icon fas icon="home"></mdb-icon> Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link waves-light primary" mdbWavesEffect><mdb-icon fas icon="home"></mdb-icon> About</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link waves-light primary" mdbWavesEffect><mdb-icon fas icon="phone-alt"></mdb-icon>Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light primary" mdbWavesEffect><mdb-icon fas icon="user"></mdb-icon> About</a>
        </li>

        <!-- <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
          </div>
        </li> -->

      </ul>
    </links>

  </mdb-navbar>
</div>

