
  <div class="col-lg-4 col-md-5 col-sm-12 align-self-center">
    <div class="animated bounceInLeft">
      <h2 class="font-weight-bold"> <span class="primary"> Developer,</span> <span class="tertiary">  and Singer</span>
      </h2>
      <p class="mb-0">Hi, I am Omowunmi Ekun, a Software Developer, with Full-Stack knowledge (but primarily Front-End) with
        over 3 years experience of creating commercial websites.<br/>
        I am a web Developer in Lagos, Nigeria, and I delved commercially into Web development in 2018.<br/>
        I am an Over-achiever, and Like to do the best I can in whatever situation I find myself.<br/>
        I have been involved in multiple projects such as Konga SHQ Admin Platform, Managing TdPlus Websites, <br/>
        E-business applications such as Endear.
        And some pet projects of my own.
      </p>
      </div>


  </div>
  <div class="col-lg-8 col-md-7 col-sm-12">
    <img [defaultImage]="defaultImage" [lazyLoad]="image" width="80%" alt="home-large-image" class="home-large-image align-img-center animated heartBeat">
  </div>

