.laptop-bckgrnd{
  background-image: url('../../assets/images/laptop.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fontClor{
  color:  white !important;
  // outline-width: 2px;
  // outline-color: white;
  // stroke: yellow;
  // stroke-width: 3px;
  // -webkit-text-stroke: 1px black;
//   text-shadow: -1px 1px 0 #000, //top-right
//   1px 1px 0 #000, //bottom-right
//  1px -1px 0 #000, //top-left
// -1px -1px 0 #000; //bottom-left

}

.contact-bg{
  background-color: #384277;
}
